body {
    text-align: center;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
     font-size: 21px;
     margin: 0;
}


/*Typographie*/
h1{
    font-size: 60px;
    font-weight: 300;
    margin-top: 0;
}
h2{
    font-size: 42px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: #C4C4C4 solid 1px;
    border-top: #C4C4C4 solid 1px;
    padding: 10px 0;
}
h3{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
}

.name{
    font-size: 80px;
    font-weight: 900;
}
.graph-des, .arti{
    font-size: 60px;
    font-weight: 900;
}
 .name, .graph-des, .arti{
    display:block; 
} 
/*Links*/
a{
    
    color: #99D930; 
    font-weight: 900;  
}
a:hover, a:focus{
    color: #131313;
}
.btn{
    padding: 10px 20px;
    background-color: #99D930;;
    color: #252525;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}
.btn:hover, .btn:focus{
    background: #252525;
    color: #fff;
}

/*layouts*/

.container {
    width: 570px;
    margin: 0 auto;
}
.small-text{
    font-size:16px;
    margin-top: 4px;
}

header{
    background-color: #D7D7D7;
    padding: 100px 0;
   
    
}
.about-me{
    background-color: #FFEAEA;
    padding: 100px 0;
}
.article{
    background-color: #EAF9FF;
    padding: 100px 0;
}
p{
    margin-bottom: 0;
    
}
